body {
    background-color: rgb(255, 216, 216);
    color: rgb(229, 121, 155);
}

button {
    border: none;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    color:rgb(229, 121, 155);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    display: block;
    margin: auto;
}

div {
    margin:auto;
    width: 50%;
}


#pageTitle {
    text-align: center;
    font-style: italic;
}
#title {
    font-size: 20px;
}
a {
    color:rgb(226, 94, 136);
}
#inspiroBot{
    font-size: 12px;
}

#circle1{
    height: 50px;
    width: 50px;
    background-color: #ffeb9c;
    border-radius: 50%;
    position:absolute;
}
#circle2{
    height: 50px;
    width: 50px;
    background-color: #ffeb9c;
    border-radius: 50%;
    position:absolute;
    display:none;
}
#circle3{
    height: 50px;
    width: 50px;
    background-color: #ffeb9c;
    border-radius: 50%;
    position:absolute;
    display:none;
}
#square1{
    height: 50px;
    width: 50px;
    border-radius: 15%;
    background-color: #ffeb9c;
    position:absolute;
    display:none;
}
#square2{
    height: 50px;
    width: 50px;
    border-radius: 15%;
    background-color: #ffeb9c;
    position:absolute;
    display:none;
}
#square3{
    height: 50px;
    width: 50px;
    border-radius: 15%;
    background-color: #ffeb9c;
    position:absolute;
    display:none;
}
.txtInShape{
    text-align: center;
    font-size: 10; /* I can't figure out why this isn't changing the size of the text...*/
}
