@font-face {
    font-family: conthrax;
    src: url(fonts/Conthrax-SemiBold.otf);
  }

@font-face {
    font-family: garet;
    src: url(fonts/Garet-Book.otf);
}
body{
    background-color: #171738;
    font-family: garet;
    color: #FF7F11;
}

button {
    font-family: garet;
    background-color: #96031A;
    color:#F3FCF0;
    border: none;
    border-radius: 1em;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 6px;
    margin-right: 6px;
    cursor: pointer;
}

button:hover {
    background-color:#CB4116;
}

table {
    margin:auto;
    width: 90%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 3px solid #001524;
}

th {
    background-color: #0C162E;
}

ul {
    list-style-type:none;
}

#pageTitle{
    font-family: conthrax;
    text-align: center;
}

#pageInformation{
    text-align: center;
    width: 70%;
    margin:auto;
    color: #ffca68;
}

#buttons{
    margin:auto;
    text-align:center;
}

#meteoriteInformation{
    color: #F3FCF0;
    text-align: center;
}

.light-mode {
    background-color: #F3FCF0;
}
.light-mode #pageInformation {
    color:#96031A;
}

.light-mode table, 
.light-mode th, 
.light-mode td, 
.light-mode ul {
    color: #171738;
}

.light-mode th {
    background-color: #7A898A;
}

#viewMode {
    padding: 5px 15px;
    cursor: pointer;
    border: none;
    background-color: #7A898A;
    color: white;
    border-radius: 1em;
}

#viewMode:hover {
    background-color: #B6C2BD;
}


