@font-face {
    font-family: "Stardew Valley";
    src: url("Stardew_Valley.otf") format("opentype");
}
body{
    background-color:rgb(55, 95, 27);
    font-family: Stardew Valley;
}
h1 {
    text-align: center;
    font-size:50px;
    color:rgb(236, 157, 72);
}

.divTable{
	display: table;
	width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-collapse: collapse;
}
.divTableRow {
	display: table-row;
    height: 100px;
}
.divTableCell/*, .divTableHead*/ {
	border: 5px ridge rgb(44, 137, 219);
	display: table-cell;
	padding: 0px 10px;
    
}

/*
.divTableHeading {
	background-color: #a03b3b;
	display: table-header-group;
}
.divTableCell{
    margin:auto;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}


.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}
*/
